include modal.pug
include slider.pug

doctype html

head
    title Awesome App!
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='theme-color' content='#0b4e57')

body
    header.header
        a(href="/").header__logo ✌ 
            span.header__logotext Awesome App!

    include menu.pug

    section.content
        article
            h1 Pure CSS Website Thing
            p This is a pure CSS website with some interactive elements. Nothing on this page is production ready, but everything may have lots of bugs.
            p By working on this project I try to prove a point that JS is overrated and simply not necessary for some widely used interactive features. CSS is a powerful tool. Use it!

        article
            h1#Menues Menues: Offcanvas and Dropdown
            p Here we have a multi-staged menu that's displayed in an offcanvas on smaller viewports and in a dropdown menu of larger viewports. The offcanvas menu is toggled via a checkbox. Layered navigation elements built the same way. Hover events replace checkboxes in the dropdown menu. Sticky positioning has you covered for all your on-canvas navigation needs.

        article
            - var imageList = {
            -     2: {1024: 'https://picsum.photos/1024/410?image=20', 480: 'https://picsum.photos/480/205?image=20'},
            -     3: {1024: 'https://picsum.photos/1024/410?image=30', 480: 'https://picsum.photos/480/205?image=30'},
            -     4: {1024: 'https://picsum.photos/1024/410?image=40', 480: 'https://picsum.photos/480/205?image=40'},
            -     1: {1024: 'https://picsum.photos/1024/410?image=10', 480: 'https://picsum.photos/480/205?image=10'}, 
            -     5: {1024: 'https://picsum.photos/1024/410?image=50', 480: 'https://picsum.photos/480/205?image=50'},
            -     6: {1024: 'https://picsum.photos/1024/410?image=60', 480: 'https://picsum.photos/480/205?image=60'},
            -     7: {1024: 'https://picsum.photos/1024/410?image=70', 480: 'https://picsum.photos/480/205?image=70'},
            -     8: {1024: 'https://picsum.photos/1024/410?image=80', 480: 'https://picsum.photos/480/205?image=80'},
            -     9: {1024: 'https://picsum.photos/1024/410?image=90', 480: 'https://picsum.photos/480/205?image=90'},
            -     10: {1024: 'https://picsum.photos/1024/410?image=100', 480: 'https://picsum.photos/480/205?image=100'}
            - }
            +slider(imageList)

            h1#Sliders Sliders
            p Those are still work in progress. The concept behind that is split in half for touch devices and pointer devices. Touh devices get a scrolling container with sroll snaps, pointer devices get an animated div.

        article
            h1#Modals Modals
            p
                | Modals are triggered via checkboxes as well. They close on either the close icon in the modal header or a click on the overlay. They can be included 
                label(for="modal_Foo") inline
                +modal('Foo', 'Lorem ipsum')
                |, 
                label(for="modal_Bar") even multiple times
                +modal('Bar', 'Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Duis autem vel eum iriure dolor in hendrerit in vulputate velit esse molestie consequat, vel illum dolore eu feugiat nulla facilisis at vero eros et accumsan et iusto odio dignissim qui blandit praesent luptatum zzril delenit augue duis dolore te feugait nulla facilisi. Lorem ipsum dolor sit amet, Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet.')
                |, or as a standalone link. Just don't nest them, please.

    footer.footer
        ul.footer__list
            li.footer__entry
                a(href="#").footer__link Lorem
            li.footer__entry
                a(href="#").footer__link Ipsum
            li.footer__entry
                a(href="#").footer__link Dolor
            li.footer__entry
                a(href="#").footer__link Sit
            li.footer__entry
                a(href="#").footer__link Amet
        a(href="/").footer__logo ✌ 
            span.footer__logotext Awesome App!