mixin navEntry(name, hasChildren)
    if (hasChildren === true)
        input(type='checkbox' id='nav_' + name.replace(" ", "")).main-nav__child-trigger
    li.main-nav__entry
        if (hasChildren === true)
            label(for='nav_'+name.replace(" ", "")).main-nav__child-trigger-helper
        a(href='#'+name.replace(" ", "")).main-nav__link= name
        
nav.main-nav
    input(type='checkbox').main-nav__burger#burger
    label(for='burger').main-nav__burger-helper
    ul.main-nav__list
        +navEntry('Menues')
        +navEntry('Sliders')
        +navEntry('Modals')
        +navEntry('Menu Demo', true)
        ul.main-nav__list.main-nav__list--is-sub
            label(for='nav_MenuDemo').main-nav__back-link
            +navEntry('Cat Content', true)
            ul.main-nav__list.main-nav__list--is-sub
                label(for='nav_CatContent').main-nav__back-link
                +navEntry('Fat Cats')
                +navEntry('Fuzzy Cats')
            +navEntry('Dog Content')