mixin modal(title, content)
    input(type="checkbox" id='modal_' + title).modal-trigger
    span.modal
        span.modal__title= title
        label.modal__close(for='modal_' + title)
        span.modal__content= content