mixin slider(imageList)
    .slider
        .slider__inner
            each srcSet, key in imageList
                .slider__item
                    picture
                        each src, width in srcSet
                            source(media=`(min-width:${width}px)` src=src)
                        img(src=srcSet[1024]).slider__item-inner