.content {
    &:extend(.container);
    padding: var(--header-height) 2vw 0;
    color: @text-color;
    min-height: calc(100vh ~"-" var(--header-height) ~"-" 145px);
    scroll-padding: 0 var(--navigation-height);
}

@media screen and (min-width: @break-m) {
    .content {
        padding: 0 20px;
    }
}