.footer {
    position: relative;
    margin-top: 20px;
    padding: 20px 40px;
    background: linear-gradient(to bottom, transparent 25%, @primary-color 100%),
    linear-gradient(135deg, @secondary-color 0%, @primary-color 100%);

    &__list {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        list-style: none;
        padding: 0;
    }

    &__entry {
        margin: 5px 20px;
        flex-basis: 100%;
        text-align: center;
    }

    &__link {
        color: @bg-color;
        font-size: 0.8em;

        &::before {
            background-color: @bg-color;
        }
    }

    &__logo {
        display: block;
        margin: auto;
        font-size: 2em;
        text-align: center;
        color: @bg-color;
    }

    &__logotext {
        display: none;
    }
}

@media screen and (min-width: @break-m) {
    .footer {
        &__list {
            flex-wrap: nowrap;
        }

        &__entry {
            flex-basis: auto;
        }

        &__logo {
            font-size: 0.8em;
            position: static;
            display: inherit;
            color: @bg-color;

            &::before {
                display: none;
            }
        }

        &__logotext {
            display: inline-block;
            font-weight: 700;
            text-transform: uppercase;
        }
    }
}