@primary-color: #0b4e57;
@secondary-color: #3c094b;
@text-color: #333;
@bg-color: #fff;
@shadow-color: rgba(0, 0, 0, 0.5);

@break-m: 64.0225em; // 1025px

@z-header: 5000;
@z-nav: 4000;
@z-modal: 6000;

@transition: 0.2s ease-out;

html {
    --header-height: 60px;
    --navigation-height: var(--header-height);
    scroll-behavior: smooth;
}

body {
    scroll-padding: var(--navigation-height);
    position: relative;
    margin: 0;
    padding: 0;
    background-color: @bg-color;
    font: 16px/1.5 sans-serif;
}

.container {
    max-width: 1024 / 16em;
    margin: auto;
}

@media screen and (min-width: @break-m) {
    * {
        --header-height: 120px;
        --navigation-height: 55px;
    }
}