.header {
    &:extend(.container);
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: var(--header-height);
    background: linear-gradient(135deg, @primary-color 0%, @secondary-color 100%);
    color: @bg-color;
    box-shadow: 0 0 10px 0 @shadow-color;
    z-index: @z-header;

    &__logo {
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 1.8em;
        color: @bg-color;

        &::before {
            display: none;
        }
    }

    &__logotext {
        font-weight: 700;
        text-transform: uppercase;
    }
}

.main-nav {
    position: sticky;
    top: 0;
    right: 0;
    margin-top: calc(-1~"*"var(--header-height));
    z-index: @z-header;

    &__burger {
        display: none;
    }

    &__burger-helper {
        position: absolute;
        right: 0;
        display: flex;
        justify-content: center;
        align-items: center;
        width: var(--header-height);
        height: var(--header-height);
        font-size: 40px;
        z-index: @z-header;
        cursor: pointer;

        &::before {
            content: "";
            position: absolute;
            left: calc(-100vw~"+"var(--header-height));
            top: var(--header-height);
            width: 100vw;
            height: calc(100vh ~"-" var(--header-height));
            background-color: @shadow-color;
            opacity: 0;
            pointer-events: none;
            transition: opacity @transition;
            z-index: @z-nav;

            .main-nav__burger:checked ~ & {
                opacity: 1;
                pointer-events: all;
            }
        }

        &::after {
            content: '🍔';
        }

        .main-nav__burger:checked + &::after {
            content: '❌';
        }
    }

    &__list {
        position: fixed;
        right: 0;
        top: var(--header-height);
        width: 250px;
        max-width: 80vw;
        height: 100vh;
        margin: 0;
        padding: 10px 0 0;
        background: @secondary-color;
        list-style: none;
        transform: translateX(100%);
        transition: transform @transition, box-shadow @transition;
        overflow: hidden;
        z-index: @z-header;

        &--is-sub {
            opacity: 0;
            transition: transform @transition, box-shadow @transition, opacity @transition;
        }

        .main-nav__burger:checked ~ & {
            box-shadow: 0 5px 10px 0 @shadow-color;
            opacity: 1;
            transform: translateX(0);
        }

        &::before {
            content: "";
            display: block;
            position: absolute;
            right: 0;
            top: 0;
            width: 100vw;
            height: 100%;
            background: linear-gradient(75deg, @primary-color 0%, @secondary-color 100%);
        }
    }

    &__entry {
        position: relative;
        padding: 5px 10px;
    }

    &__link {
        position: static;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        width: 100%;
        color: @bg-color;
        text-transform: uppercase;
        text-decoration: none;
        font-weight: 700;

        &::before {
            display: none;
        }

        .main-nav__child-trigger + .main-nav__entry &::after {
            content: "👉"; //right
            padding-left: 1ch;
        }
    }

    &__child-trigger {
        display: none;
    }

    &__child-trigger-helper {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
    }

    &__back-link {
        position: absolute;
        left: 10px;
        display: inline-block;
        width: auto;
        height: auto;
        color: @bg-color;
        cursor: pointer;
        z-index: 2;

        &::before {
            content: "👈";
            display: block;
            font-size: 1.5em;
            width: 1.5em;
            height: 1.5em;
        }
    }

    &__list--is-sub {
        top: 0;

        .main-nav__child-trigger:checked + .main-nav__entry + & {
            opacity: 1;
            transform: translateX(0);
            z-index: @z-nav + 1;
        }
    }
}

@media screen and (min-width: @break-m) {
    .header {
        position: relative;
        max-width: none;
        padding-bottom: var(--navigation-height);
        background: transparent;
        box-shadow: none;
        z-index: @z-header + 1;
        pointer-events: none;

        &__logo {
            pointer-events: all;
        }
    }

    .main-nav {
        position: sticky;
        top: 0;
        margin-top: calc(-1~"*"var(--navigation-height));
        background: transparent;

        &__burger-helper {
            display: none;
        }

        &__list {
            position: relative;
            top: 0;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            max-width: none;
            height: var(--navigation-height);
            padding: 0;
            background: transparent;
            transform: translateX(0);
            overflow: visible;

            &::before {
                content: "";
                position: absolute;
                top: calc(-1~"*"var(--header-height));
                left: 0;
                display: block;
                width: 100%;
                height: calc(var(--header-height) ~"+" var(--navigation-height));
                background: linear-gradient(to bottom, transparent 50%, @primary-color 100%),
                linear-gradient(135deg, @primary-color 0%, @secondary-color 100%);
                box-shadow: 0 0 10px 0 @shadow-color;
                pointer-events: none;
            }

            &--is-sub {
                &, .main-nav__burger:checked ~ .main-nav__list & {
                    position: absolute;
                    background-color: darken(@primary-color, 3%);
                    opacity: 0;
                    box-shadow: none;
                    pointer-events: none;
                    z-index: -2;
                }

                &::before {
                    display: none;
                }

                .main-nav__entry:hover + &,
                &:hover {
                    transform: translateY(100%);
                    opacity: 1;
                    pointer-events: all;
                }
            }
        }

        &__link {
            position: relative;
            justify-content: center;
            width: auto;
            padding: 10px 20px;

            .main-nav__child-trigger + .main-nav__entry &::after {
                content: "👇"; //down
            }
        }

        &__child-trigger-helper {
            display: none;
        }

        &__back-link {
            display: none;
        }
    }
}