//todo: activating a modal jumps to the pooint in the DOM where the modal is. In my case, at the end. need to find a way around.

label[for^="modal_"]:not(.modal__close) {
    .link;
}

.modal-trigger {
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    position: absolute;
    opacity: 0;
    pointer-events: none;

    &:checked {
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        background: @shadow-color;
        opacity: 1;
        pointer-events: all;
        transition: opacity @transition;
        z-index: @z-modal;
    }
}

.modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, calc(-50% ~"+" 20px));
    display: block;
    width: 80vw;
    max-width: 768px;
    height: 70vh;
    max-height: 768px;
    background: @bg-color;
    box-shadow: 0 0 10px 0 @shadow-color;
    z-index: @z-modal;
    opacity: 0;
    pointer-events: none;
    transition: opacity @transition, transform @transition;

    .modal-trigger:checked + & {
        opacity: 1;
        transform: translate(-50%, -50%);
        pointer-events: all;
    }


    &__title {
        display: block;
        padding: 10px;
        background: linear-gradient(75deg, @primary-color 0%, @secondary-color 100%);
        font-size: 1.5em;
        font-weight: bold;
        color: @bg-color
    }

    &__close {
        position: absolute;
        top: 0;
        right: 0;
        font-size: 1.5em;
        padding: 10px;
        cursor: pointer;

        &::after {
            content: "❌"; //cross
        }
    }

    &__content {
        display: block;
        padding: 10px;
        height: calc(100% ~"-" 2.5em ~"-" 40px);
        overflow-y: scroll;
    }
}
