.slider {
    @sliderItems: 10;
    --slider-items: @sliderItems;

    @keyframes slider-rotation {
        100% {
            transform: translateX(0);
        }
        .slider-loop(@counter) when (@counter > 0) {
            @step: ((@counter - 1) * 100% / @sliderItems),
            (@counter * 100% / @sliderItems - 3);
            @{step} {
                transform: translateX(calc(((@counter - 1) * -100% / var(--slider-items))));
            }
            .slider-loop((@counter - 1));
        }
        .slider-loop(@sliderItems);
    }

    position: relative;
    overflow: hidden;
    width: 100%;
    margin: auto;

    &__inner {
        width: calc(100% ~"*" var(--slider-items));
        height: 100%;
        animation: slider-rotation calc(5s ~"*" var(--slider-items)) infinite;
        transform: translateX(calc((var(--active-item) - 1) * -100% / var(--slider-items)));
    }

    &__item {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        width: calc(100% ~"/" var(--slider-items));
        height: 100%;
        vertical-align: middle;

        &-inner {
            width: auto;
            max-width: 100%;
            height: auto;
            max-height: 100%;
        }
    }
}

@media (pointer: coarse) {
    .slider {
        width: 100%;

        &__inner {
            width: 100%;
            display: flex;
            flex-wrap: nowrap;
            overflow-x: scroll;
            scroll-snap-type: x mandatory;
            scroll-snap-destination: 10% 10%;
            animation: none;

            &::-webkit-scrollbar {
                display: none;
            }
        }

        &__item {
            display: block;
            width: auto;
            scroll-snap-align: start;
            scroll-snap-stop: always;
            
            &:not(:first-of-type) {
                margin-left: 10px;
            }

            &-inner {
                width: 80vw;
                max-width: none;
            }
        }
    }
}