h1, h2, h3, .headline {
    position: relative;
    display: inline-block;
    margin-bottom: 0;
    color: @primary-color;

    + * {
        margin-top: 1em;
    }
}

@supports (mix-blend-mode: screen) {
    h1, h2, h3, .headline {
        color: @text-color;
        background: @bg-color;

        &::before {
            content: '';
            display: block;
            position: absolute;
            top: 1px;
            left: 1px;
            right: 1px;
            bottom: 1px;
            background: linear-gradient(135deg, @primary-color 0%, @secondary-color 100%);
            pointer-events: none;
            mix-blend-mode: screen;
        }
    }
}

a, .link {
    display: inline-block;
    position: relative;
    color: @primary-color;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;

    &::before {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        display: block;
        width: 100%;
        height: 2px;
        background-color: @primary-color;
        transform: scaleX(0);
        transition: transform @transition;
    }

    &:hover::before,
    &:focus::before {
        transform: scaleX(1);
    }
}